.feetbackInner {
  display: flex;
  flex-direction: column;

  .wrapper {
    overflow: hidden;
    height: 80px;
    margin: 0 auto;
    margin-bottom: clamp(25px, 3vw, 50px);
    .services_title {
      font-family: 'Gilroy-Medium';
      color: #fff;
      font-size: clamp(60px, 3vw, 80px);
      font-weight: 500;
      text-align: center;
      letter-spacing: 8px;
    }
  }

  .feetbackInnerFormWrap {
    font-family: 'Gilroy-Black';
    width: 100%;
    margin: 0 auto;
    border-radius: 16px;
    border: 2px solid #fff;
    padding: clamp(20px, 3vw, 42px) clamp(100px, 10vw, 236px);
    background: #111;

    &__title {
      font-family: 'Gilroy-Black';
      color: #fff;
      font-size: clamp(24px, 3vw, 40px);
      font-weight: 900;
      letter-spacing: 4px;
      text-align: center;
      margin-bottom: clamp(15px, 3vw, 30px);
    }
  }

  &__Form {
    display: flex;
    flex-direction: column;
    gap: 35px;
    .error {
      font-family: 'Gilroy-Regular';
      color: rgba(251, 51, 51, 0.633);
      font-size: 14px;
      padding: clamp(4px, 3vw, 8px) 0;
    }

    .input_wrapper {
      display: flex;
      flex-direction: column;
    }
    &_name,
    &_phone {
      font-family: 'Gilroy-Regular';
      padding: 14px 18px;
      border-radius: 8px;
      border: 2px solid #fff;
      color: #b7b7b7;
      background: #111;
      font-size: 18px;
    }

    &_agree {
      width: 21px;
      height: 21px;
      border-radius: 2px;
      border: 1px solid #b7b7b7;
    }

    .labelForCheckbox {
      font-family: 'Gilroy-Regular';
      display: flex;
      align-items: center;
      gap: 8px;
      color: #b7b7b7;
      font-size: 12px;
      font-weight: 400;
    }

    &_btn {
      display: flex;
      width: 100%;
      height: 50px;
      padding: 10px 21px;
      justify-content: center;
      align-items: center;
      gap: 50px;
      font-family: 'Gilroy-SemiBold';
      flex-shrink: 0;
      border-radius: 8px;
      background: #fff;
      color: #2b2b2b;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 2px;
    }

    &_label {
      color: #fff;
      font-family: 'Gilroy-Medium';
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 8px;
    }
  }
}

.wrapper {
  height: 100px;
  overflow: hidden;
  margin-bottom: 62px;
}
.services_title {
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 8px;
}
