.team {
  padding: clamp(70px, 10vw, 150px) 0 clamp(40px, 10vw, 70px);

  &_title {
    font-family: 'Gilroy-Medium';
    text-align: center;
    color: #fff;
    font-size: clamp(28px, 5vw, 80px);
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: clamp(20px, 3vw, 60px);
  }

  &_slider_block {
    position: relative;
    .team_decore {
      font-family: 'Gilroy-Medium';
      display: flex;
      justify-content: center;
      width: 100%;
      top: -80px;
      position: absolute;
      color: #ffffff1e;
      font-size: clamp(100px, 3vw, 283px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 28px;
    }
  }

  &_slide {
    height: 40%;
    color: #fff;
    .slide_wrapper {
      display: flex;
      align-items: center;
      gap: 30px;
      height: 460px;
      .image_wrapper {
        flex: 4;
        border-radius: 25px;
        overflow: hidden;
        height: 100%;

        position: relative;
        &:hover {
          .image_content {
            transform: scale(1);
            padding: 10px;
            width: 100%;
          }
        }
        .team_image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .image_content {
          position: absolute;
          z-index: 3;
          bottom: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          transform: scale(0);
          transition: 0.5s;
          background: #00000044;
          p {
            font-family: 'Gilroy-Medium';
            position: relative;
            color: #fff;
            font-weight: 500;
            line-height: 1em;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-align: center;
            padding: 10px 0;
            span {
              font-weight: 300;
              font-size: 0.7em;
            }
          }

          .sci {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: 5px;
            li {
              a {
                position: relative;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.5);
                fill: currentColor;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                transition: 0.5s;
                &:hover {
                  fill: currentColor;
                  color: rgba(255, 255, 255, 1);
                }
              }
            }
          }
        }
      }

      .team_info {
        flex: 6;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        padding: 20px clamp(20px, 5vw, 60px) 20px clamp(30px, 5vw, 100px);
        width: 100%;
        height: 100%;
        border-radius: 25px;
        background: #111;
        position: relative;
        transition: 0.5s;

        &_name {
          font-family: 'Gilroy-Medium';
          font-size: clamp(16px, 5vw, 26px);
        }

        &_about {
          font-family: 'Gilroy-Regular';
          font-size: clamp(12px, 5vw, 18px);
        }

        &_specialize {
          font-family: 'Gilroy-Medium';
          font-weight: 700;
          font-size: clamp(14px, 3vw, 20px);
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .team {
    &_slider_block {
      .team_decore {
        letter-spacing: 8px;
      }
    }
    &_slide {
      .slide_wrapper {
        height: 320px;
        .image_wrapper {
          display: none;
        }
        .team_info {
          &:hover {
            .team_info_img {
              display: block;
            }
            .team_info_name {
              display: none;
            }
            .team_info_about {
              display: none;
            }
            .team_info_specialize {
              display: none;
            }
          }
          text-align: right;
        }
      }
    }
  }
}
@media (max-width: 620px) {
  .team {
    &_slider_block {
      .team_decore {
        top: -40px;
        font-size: 50px;
      }
    }
    &_slide {
      .slide_wrapper {
        height: 320px;
        .image_wrapper {
          display: none;
        }
      }
    }
  }
}
