.about {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  position: relative;

  &_title {
    font-size: clamp(28px, 5vw, 80px);
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 50px;
  }

  &_descr {
    font-size: clamp(14px, 3vw, 19px);
    font-weight: 500;
    letter-spacing: 1.912px;
  }

  .bg_decore {
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    color: #ffffff05;
    font-size: clamp(100px, 3vw, 334px);
    font-size: 335px;
    font-weight: 500;
    letter-spacing: 33.433px;
  }
}
