.root {
  padding: 124px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    .name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;

      p {
        font-size: 63.437px;
        font-weight: 400;
        letter-spacing: 88.177px;
        margin-right: -88px;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      p {
        color: #dbdbdb;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1.8px;
        max-width: 878px;
      }

      button {
        position: relative;
        overflow: hidden;
        padding: 10px 94px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
        background: none;
        border-radius: 8px;
        border: 1px solid #fff;
        transition: 0.5s;
        z-index: 1;

        &:before {
          content: '';
          width: 0;
          height: 800%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          background: #fff;
          transition: .8s ease;
          display: block;
          z-index: -1;
        }
        &:hover::before {
          width: 105%;
        }

        &:hover {
          color: #111;
        }
      }
    }
  }
}
