.root {
  padding: 50px 0;

  nav {
    margin: 0 auto;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(30px, 5vw, 100px);
    li {
      // display: flex;
      // align-items: center;
      // overflow: hidden;
      // height: 60px;
    }
    li:first-child {
      position: absolute;
      left: 50px;
      top: -10px;
      // margin-right: clamp(100px, 10vw, 230px);
    }
  }
  a {
    font-family: 'Gilroy-Regular';
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    letter-spacing: 2.4px;
    &:hover {
      color: #5064af;
    }
  }
}
