.services_list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  height: 100%;
  overflow: hidden;
  margin-bottom: clamp(20px, 5vw, 50px);
}
.services_title {
  font-family: 'Gilroy-Medium';
  color: #fff;
  text-align: center;
  font-size: clamp(48px, 5vw, 80px);
  letter-spacing: 8px;
}
