/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

@font-face {
  font-family: 'Gilroy-Black';
  src: url('./assets/fonts/gilroy-black.eot'); /* IE 9 Compatibility Mode */
  src: url('./assets/fonts/gilroy-black.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./assets/fonts/gilroy-black.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/gilroy-black.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./assets/fonts/gilroy-black.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/gilroy-black.svg#gilroy-black') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('./assets/fonts/gilroy-heavy.eot'); /* IE 9 Compatibility Mode */
  src: url('./assets/fonts/gilroy-heavy.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./assets/fonts/gilroy-heavy.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/gilroy-heavy.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./assets/fonts/gilroy-heavy.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/gilroy-heavy.svg#gilroy-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/gilroy-medium.eot'); /* IE 9 Compatibility Mode */
  src: url('./assets/fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./assets/fonts/gilroy-medium.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/gilroy-medium.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./assets/fonts/gilroy-medium.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/gilroy-medium.svg#gilroy-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
  src: url('./assets/fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./assets/fonts/gilroy-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/gilroy-regular.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./assets/fonts/gilroy-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./assets/fonts/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
  src: url('./assets/fonts/gilroy-semibold.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('./assets/fonts/gilroy-semibold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('./assets/fonts/gilroy-semibold.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('./assets/fonts/gilroy-semibold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('./assets/fonts/gilroy-semibold.svg#gilroy-semibold')
      format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
  font-family: 'Gilroy-Regular';
  background: #000;
  color: #fff;
}

[class*='__container'] {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0 50px;
}

.wrapper {
  min-height: 100vh;
  background: url('./assets/img/bg.png') 0 0 / cover no-repeat;
}

[class*='__title'] {
  h2 {
    color: #fff;
    font-family: 'Gilroy-Medium';
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 8px;
  }
}

.br {
  height: 160px;
}
