.service {
  width: 90%;
  margin: 0 auto;
  display: flex;

  &_id {
    font-family: 'Gilroy-Black';
    border-radius: 16px 0px 0px 16px;
    background-color: #fff;
    width: 20%;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(60px, 10vw, 128px);
    font-weight: 900;
    letter-spacing: 12.8px;
  }

  &_descr {
    padding: clamp(16px, 3vw, 34px);
    width: 80%;
    border-radius: 0px 16px 16px 0px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 3vw, 14px);
    background: #111;
  }

  &_title {
    color: #fff;

    font-size: clamp(14px, 3vw, 23px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 2.3px;
  }

  &_info {
    display: flex;
    flex-direction: column;
    gap: clamp(4px, 2vw, 10px);
    &_list {
      margin-left: 20px;
      list-style-type: circle;
      color: #fff;
      font-size: clamp(10px, 3vw, 18px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.8px;
    }
  }
}
@media (max-width: 920px) {
  .service {
    &_id {
      display: none;
    }
    &_descr {
      width: 100%;
      border-radius: 16px;
      border-left: 25px solid #fff;
    }
    &_title {
    }
    &_info {
      &_list {
      }
    }
  }
}
